header {
    color: rgb(250, 250, 250);
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-weight: bold;
    float: center;
}
.navbar{
    background-color: transparent;
    float: left;
}


main {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.product {
    width: 20vw;
    height: 26vw;
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.product h1 {
    font-size: 1.5rem;
    margin-top: 0;
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.product p {
    margin-bottom: 0.5rem;
}

footer {
    color: white;
    text-align: center;
    padding: 1rem;
}


.navbar-toggler {
    background-color: #1f2020;
    float: left;
}
.navbar-toggler-icon {
   float: left;
}
.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 50px;
}

form {
	display: flex;
	align-items: center;
    
}

input[type="text"] {
	background-color: transparent;
	border: none;
	border-bottom: 2px solid #161616;
	color: #0f0f0f;
	font-size: 20px;
	flex: 1;
	margin-right: 10px;
}

button[type="submit"] {
	background-color: #e9e3e3;
	color: #000;
	border: none;
	padding: 10px 20px;
	font-size: 20px;
	cursor: pointer;
}